# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# ESB ERP
ESB_BASE_URL=erp_base_url

# Credentials ESB ERP
ESB_USERNAME=your_esb_username
ESB_PASSWORD=your_esb_password

# Logger (default: debug)
LOG_LEVEL=debug
NODE_ENV=development
